@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-1: #f8f9fa;
    --color-primary-2: #555;
}

body {
    font-family: "Roboto", sans-serif;
}